@import "@terranova/tokens/tailwind.css";

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

code, pre, .font-mono {
  font-family: var(--font-mono);
}
